<div class="topic">
  {{name}}
  {{input type="text" id="new-link-origin-topic" placeholder="Origin Topic" value=id action="createTopicLink"}}
  {{input type="text" id="new-link-name" placeholder="New Link Name" value=newLinkName action="createTopicLink"}}
  {{input type="text" id="new-link-destination-topic" placeholder="Destination Topic" value=destinationTopic action="createTopicLink"}}
</div>
