<div class="topic">
  <h2>{{name}}</h2>

  {{input type="text" placeholder="Origin Topic" value=id action="createTopicLink"}}
  {{input type="text" placeholder="New Link Name" value=newName action="createTopicLink"}}
  {{input type="text" placeholder="Destination Topic" value=destination action="createTopicLink"}}

</div>
